# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
.gradle/
local.properties
*.kwks
*.keystore

# iOS
.generated/
Pods/

# IDEs
.idea/
.vscode/
*.iml